node_modules/

# Environment
.env
.env.*
!.env.example
firebase-service-account-key.json

# Uploads / Logs
uploads/
logs/
*.log
npm-debug.log*

# IDE / OS
.idea/
.vscode/
.DS_Store


ride_*.sql
riude_*.sql